<! doctype HTML5>

<html lang = "en">
<head>
    <meta charset = "utf - 8">
    <title> Customer Site </title>
    <meta name = "description" content = "customer_site">
    <meta name = "author" content = "Site Point">
    <link rel = "stylesheet" href = "css/style.css">
</head>

<body>
    <div id = "background">
    </div>

    <div id = "navbar">
        <ul id = "menu">
            <li> About </li>
            <li> Contact </li>
            <li class = "links">
                <a href = "javascript: void(0)"
                    class = "dropbtn"> Links </a>
                        <div class = "links-content">
                            <a href = "http://www.google.com"> Google </a>
                            <a href = "http://www.minedminds.org"> Mined Minds </a>
                            <a href = "https://stackoverflow.com"> Stack Overflow </a> 
                        </div>
            </li>
        </ul>
    </div>

    <div id = "footer">
        <ul id = "copyright">
            © Mined Minds
        </ul>
    </div>


</body>

</html>